<nav class="navbar sticky-top navbar-expand-lg navbar-light mb-5 pt-1 pb-1">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="hero.html"><img class="nbi" src="images/Logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse offset-1" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <img class="nli" id="nli-one" src="images/Logo 2.png" alt="">
          <a class="nav-link active pe-5 text-light" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
        <img class="nli" id="nli-two" src="images/Logo 3.png" alt="">
          <a class="nav-link active pe-5 text-light" href="clothing.html">My Profile</a>
        </li>
        <li class="nav-item">
        <img class="nli" id="nli-three" src="images/Logo 4.png" alt="">
          <a class="nav-link active pe-5 text-light" href="gadgets.html">Activity</a>
        </li>

        <li class="nav-item">
        <img class="nli" id="nli-four" src="images/Logo 5.png" alt="">
          <a class="nav-link active pe-5 text-light" href="">Settings</a>
        </li>

        <li class="nav-item dropdown" id="nav-item-last">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="images/pp.jpg" alt="">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
      </ul>
  </div>
    </div>
  </div>
</nav>

