<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Complete Your Profile</h1>
    <form action="completeProfile" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
           <div>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" required>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" required>
        </div>
        <div>
            <label for="aboutMe">About Me</label>
            <input type="text" name="aboutMe" id="aboutMe" >
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" required>
        </div>
        <div>
            <label for="dob">Date Of Birth</label>
            <input type="date" name="dob" id="dob" required>
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="location" id="location" required>
        </div>
        <div>
            <label for="interests"> Interests </label>
             <select name="interests" id="interests" multiple>
                <% for(let interest of interests) { %> 
                    <option value="<%=interest%>"><%=interest%> </option>
                    <% } %> 
              </select>
        </div>
        <div>
            <label for="image">Profile Picture</label>
            <input type="file" name="image" id="image" required>
        </div>
        <button>Submit</button>
    </form>
    
</body>
</html>