<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unPopTake</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/unAuthNav.css">
    <link rel="stylesheet" href="/stylesheets/register.css">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light mb-5 pt-1 pb-1">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="hero.html"><img class="nbi" src="images/Logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse offset-1" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active pe-5 text-light" aria-current="page" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5 text-light" href="clothing.html">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5 text-light" href="gadgets.html">Explore</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active pe-5 text-light" href="">Connect</a>
              </li>
            </ul>
        </div>
          </div>
        </div>
      </nav>
      <main>
        <div class="main-one">
          <div class="one-one">
            <img src="images/Female hand holding iPhone 14 Pro mockup (Mockuuups Studio).png" alt="">
          </div>
          <div class="one-two">
            <h6><b> Create An Account</b></h6>
            <p>Sign Up Today To Share Interesting Unpopular Opinions To The World</p>
            <form action="/register" method="POST">
                <div>
                <input type="text" placeholder="Username" name="username" id="username">
            </div>
            <div>
              <input type="name" placeholder="Email Address" name="email" id="name">
          </div>
            <div>
                <input type="text" placeholder="First Name" name="firstName" id="firstName">
            </div>
            <div>
              <input type="text" placeholder="Last Name" name="lastName" id="lastName">
          </div>
            <div>
                <input type="text" placeholder="Date Of Birth" onfocus="(this.type='date')" name="dob" id="dob">
            </div>
            <div>
                <input type="password" placeholder="Password" name="password" id="password"> <br>
                <small id="so">Password should have atl east 6 letters, 1 in cap, a number and a special character</small>

            </div>
            <button id="bo">SignUp</button> <br>
            <div class="hrr">
            <hr> <span> Or </span> <hr>
            <div class="db">
                <button id="dbo"><img src="images/flat-color-icons_google.png" alt=""> Continue With Google</button>
                <button id="dbt"> <img src="images/logos_facebook.png" alt=""> Continue With Facebook</button>
            </div>
            <small>Already Have An Account? <a href="/login">Sign In</a></small>
             </div>
            </form>
          </div>
        </div>
      </main>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>