/* .navbar-brand {
    margin-right: 120px;
}

#nav-item-last {
    margin-left: 180px;
} */

nav {
    background-color: #114E11;
    /* border-radius: 10px 10px 0px 0px; */
}

#navbarDropdownImg {
    width: 50px;
    height: 50px;
    border: 0.1px solid;
    border-radius: 23px 23px;
    color: white;
    position: relative;
    /* top: 10px; */
}
/*
.dropdown-menu a {
    padding: 2px 10px;
} */
.dropdown-menu a:hover {
    background-color: #114E11;
    color: white;
}
/* .nbi {
    width: 180px;
    height: 100px;
    position: relative;
    top: -20px;
}

.nli {
    width: 220px;
    height: 200px;
    margin-right: 30px;
    margin-bottom: -55px;
    margin-top: -75px; 
    position: relative;
    top: -30px;
    right: 90px; 

}

#nli-one {
        width: 230px;
        height: 100px;
        margin-right: 30px;
        margin-bottom: -70px;
        margin-top: -25px; 
        position: relative;
        top: 33px;
        padding-bottom: 0;
        margin-bottom: 0;
        right: 20px; 
        padding-left: 65px;
}
#nli-two {
    width: 230px;
    height: 100px;
    margin-right: 30px;
    margin-bottom: -70px;
    margin-top: -25px; 
    position: relative;
    top: 33px;
    padding-bottom: 0;
    margin-bottom: 0;
    right: -10px; 
    padding-left: 65px;
}

#nli-three {
    width: 230px;
    height: 100px;
    margin-right: 30px;
    margin-bottom: -70px;
    margin-top: -25px; 
    position: relative;
    top: 38px;
    padding-bottom: 0;
    margin-bottom: 0;
    right: 13px; 
    padding-left: 65px;
}

#nli-four {
          width: 230px;
        height: 100px;
        margin-right: 30px;
        margin-bottom: -70px;
        margin-top: -25px; 
        position: relative;
        top: 33px;
        padding-bottom: 0;
        margin-bottom: 0;
        right: 2px; 
        padding-left: 65px;
} */

/* .nav-item {
    margin-left: -90px;
} */

/* .navbar-brand{
    color: white;
    position: relative;
    top: 3px;
} */

/* .nav-link:hover {
    text-decoration-line: underline;
} */
/* 
.nav-link:nth-child(1) {
    margin-left: -33px;
    
} */

/* .navbar-nav {
    padding-left: -40px;
} */
