.navbar-brand {
    margin-right: 120px;
}

#nav-item-last {
    margin-left: 180px;
}

/* nav {
    background-color: #114E11;
    border-radius: 10px 10px 0px 0px;
} */

.nbi {
    width: 180px;
    height: 100px;
}

.nav-link {
    margin-right: 20px;
    font-weight: bolder;
    
}

.navbar-brand{
    color: white;
    position: relative;
    top: 3px;
}

.nav-link:hover {
    text-decoration-line: underline;
}

